pkgbase = ghost-dl-git
	pkgdesc = Kingdom Hearts Insider Game OST Archive Downloader CLI/TUI
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/TheElevatedOne/ghost-dl
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = gcc
	makedepends = make
	depends = glibc
	depends = curl
	depends = ncurses
	provides = ghost-dl
	conflicts = ghost-dl-bin
	source = git+https://github.com/TheElevatedOne/ghost-dl.git#branch=main
	sha256sums = SKIP

pkgname = ghost-dl-git
